p {
  font-family: "Times New Roman", "Georgia";
  font-size: 1em;
  text-align: left;
}

img {
  margin: 0 auto;
  border-radius: 20px;
  border-color: burlywood;
  border-style: solid;
  border-width: 5px;
  width: 400px;
}

.fig{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  font-size: 3em;
}

h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 2.75em;
}

h3 {
  font-family:'Times New Roman', Times, serif;
  font-size: 2.5em;
}

h4 {
  font-family:'Times New Roman', Times, serif;
  font-size: 2.25em;
}

h5 {
  font-family:'Times New Roman', Times, serif;
  font-size: 2em;
}

body {
  background-color: rgb(247, 218, 176);
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}